
/* Footer.css */
.footer-elem {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* becomes visible when in viewport */
.footer-elem.in-view {
  opacity: 1;
  transform: translateY(0);
}


